<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>EDIT PAGE</h1>
    <form action="" method="post">
      {%csrf_token%}
      <p>Course ID: {{form.course_id}}</p>
      <p>Course Name: {{form.course_name}}</p>
      <p>Course Credit: {{form.course_credit}}</p>
      <p>Tutorial Full Marks: {{form.tutorial_full_marks}}</p>
      <p>Attendance Full Marks: {{form.att_full_marks}}</p>
      <p>Final Full Marks: {{form.final_full_marks}}</p>
      <input type="submit" value="SAVE" />
    </form>
  </body>
</html>
